In [1]:
import graphlab

In [8]:
graphlab.get_dependencies()

By running this function, you agree to the following licenses.

* libstdc++: https://gcc.gnu.org/onlinedocs/libstdc++/manual/license.html
* xz: http://git.tukaani.org/?p=xz.git;a=blob;f=COPYING

Downloading xz.
Extracting xz.
Downloading gcc-libs.
Extracting gcc-libs.
Copying gcc-libs into the installation directory.

# Load a tabular data set

In [5]:
import graphlab

In [2]:
sf = graphlab.SFrame('people-example.csv')

This non-commercial license of GraphLab Create for academic use is assigned to somizggl@gmail.com and will expire on August 03, 2021.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\somiz\AppData\Local\Temp\graphlab_server_1596458419.log.0

Finished parsing file C:\Users\somiz\Google 드라이브\Ai_course\MachineLearningFoundation\people-example.csv

Parsing completed. Parsed 7 lines in 0.018017 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file C:\Users\somiz\Google 드라이브\Ai_course\MachineLearningFoundation\people-example.csv

Parsing completed. Parsed 7 lines in 0.018016 secs.

In [4]:
sf # we can view first few lines of the table

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [3]:
sf.head()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [5]:
sf.tail()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

# GraphLab Canvas

In [7]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:13523/index.html
Opening Canvas in default web browser.

In [8]:
graphlab.canvas.set_target("ipynb")

In [9]:
sf['age'].show(view='Categorical')

# Inspect columns of dataset

In [10]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [11]:
sf['age']

dtype: int
Rows: 7
[24L, 23L, 22L, 23L, 23L, 22L, 25L]

In [12]:
sf['age'].mean()

23.142857142857146

In [14]:
sf['age'].max()

25L

# Create new columns in our SFrame

In [15]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [16]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [17]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [18]:
sf['age']+2

dtype: int
Rows: 7
[26L, 25L, 24L, 25L, 25L, 24L, 27L]

# Use the apply function to do a advance transformation of a data

In [20]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [22]:
sf['Country'].show()

In [23]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [24]:
transform_country('Brazil')

'Brazil'

In [25]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [26]:
sf['Country']=sf['Country'].apply(transform_country)

In [27]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [40]:
sf = graphlab.SFrame('people_wiki.sframe')

In [41]:
sf

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [42]:
sf.tail()

Columns:
	URI	str
	name	str
	text	str

Rows: 10

Data:
+-------------------------------+-------------------------------+
|              URI              |              name             |
+-------------------------------+-------------------------------+
| <http://dbpedia.org/resour... |            Rod Wilt           |
| <http://dbpedia.org/resour... |      Scott Baker (judge)      |
| <http://dbpedia.org/resour... |     Dragoljub Ojdani%C4%87    |
| <http://dbpedia.org/resour... |           Oz Bengur           |
| <http://dbpedia.org/resour... | Dee Brown (basketball, bor... |
| <http://dbpedia.org/resour... |           Olari Elts          |
| <http://dbpedia.org/resour... |         Scott F. Crago        |
| <http://dbpedia.org/resour... |    David Cass (footballer)    |
| <http://dbpedia.org/resour... |          Keith Elias          |
| <http://dbpedia.org/resour... |          Fawaz Damrah         |
+-------------------------------+-------------------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| rod wilt is a former repub... |
| sir thomas scott gillespie... |
| dragoljub ojdani serbian c... |
| osman oz bengur born febru... |
| decovan kadell dee brown b... |
| olari elts born april 27 1... |
| scott francis crago born j... |
| david william royce cass b... |
| keith hector elias born fe... |
| fawaz mohammed damrah arab... |
+-------------------------------+
[10 rows x 3 columns]

In [43]:
sf['name']=='Harpdog Brown'

dtype: int
Rows: 59071
[0L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, ... ]

In [35]:
sf['name'].sort()

dtype: str
Rows: 59071
[' Renate Lorenz', '%C3%80lex Rigola', '%C3%81dria Santos', '%C3%81g%C3%BAsta Eva Erlendsd%C3%B3ttir', '%C3%81ine Brady', '%C3%81ine Hyland', '%C3%81lex Diego', '%C3%81lvaro Gon%C3%A7alves', '%C3%81lvaro Noboa', '%C3%81lvaro Pierri', '%C3%81lvaro Rudolphy', '%C3%81lvaro Saieh', '%C3%81lvaro Uribe', '%C3%81nde Somby', '%C3%81ngel Clemente Rojas', '%C3%81ngel Garc%C3%ADa', '%C3%81ngel Guillermo Heredia Hern%C3%A1ndez', '%C3%81ngel Nieto', '%C3%81ngel P%C3%A9rez Mart%C3%ADnez', '%C3%81ngel Romero', '%C3%81ngel Rozas', '%C3%81ngel Salazar (baseball)', '%C3%81ngel Santos Ju%C3%A1rez', '%C3%81rni %C3%9E%C3%B3r Sigur%C3%B0sson', '%C3%81rni Mathiesen', '%C3%81rni Sveinsson', '%C3%81ron G%C3%A1dorfalvi', '%C3%81sgeir Trausti', '%C3%85ke Jonsson', '%C3%85sa Lif', '%C3%85sa Linderborg', '%C3%85se Klundelien', '%C3%85sleik Engmark', '%C3%85smund Reikvam', '%C3%87a%C4%9Fan Irmak', '%C3%87a%C4%9Fatay Ulusoy', '%C3%87evik Bir', '%C3%87ezar Kurti', '%C3%89amonn %C3%93 Cath%C3%A1in', '%C3%89amonn Fitzmaurice', '%C3%89amonn Kelly', '%C3%89dgar Vivar', '%C3%89douard Br%C3%A9zin', '%C3%89douard Maunick', '%C3%89dson Boaro', '%C3%89laine Michaud', '%C3%89lie Domota', '%C3%89lisabeth Dayn%C3%A8s', '%C3%89lisabeth Fanger', '%C3%89milie Loit', '%C3%89milius Goulet', '%C3%89ric Bernard', '%C3%89ric Caire', '%C3%89ric Deslauriers', '%C3%89ric Falt', '%C3%89ric Gagn%C3%A9', '%C3%89ric Houde', '%C3%89ric Laurent', '%C3%89ric Legnini', '%C3%89ric Lucas', '%C3%89tienne Bacrot', '%C3%89tienne Pinte', '%C3%89va Tardos', '%C3%8D%C3%B1igo Cuesta', '%C3%8Dngrid Betancourt', '%C3%93lavur Jakobsen', '%C3%93mar Ragnarsson', '%C3%93scar Felipe Ventura', '%C3%93scar Malherbe de Le%C3%B3n', '%C3%93scar Robles', '%C3%93scar Salas Moya', '%C3%96gmundur J%C3%B3nasson', '%C3%96rjan Persson', '%C3%96zg%C3%BCr Uyan%C4%B1k', '%C3%96zlem Cekic', '%C3%98ystein Linnebo', '%C3%98ystein Runde', '%C3%98ystein S%C3%B8rensen', '%C3%98yvind Alsaker', '%C3%98yvind Rauset', '%C3%98yvind Str%C3%B8mmen', '%C3%98yvind Torvund', '%C3%9Cberzone', '%C3%9Eorfinnur %C3%93marsson', '%C3%9Eorger%C3%B0ur Katr%C3%ADn Gunnarsd%C3%B3ttir', '%C4%8Cedomir %C4%8Cupi%C4%87', '%C4%90%C3%A0m V%C4%A9nh H%C6%B0ng', '%C4%90%E1%BB%93ng S%C4%A9 Nguy%C3%AAn', '%C4%90%E1%BB%97 M%C6%B0%E1%BB%9Di', '%C4%90o%C3%A0n Huy Ch%C6%B0%C6%A1ng', '%C4%90o%C3%A0n V%C4%83n %C4%90i%E1%BB%87n', '%C4%90or%C4%91e Filipovi%C4%87', '%C4%90ovani Roso', '%C4%90ura%C4%91 Vasi%C4%87', '%C4%90uro Seder', '%C4%A2irts Valdis Kristovskis', '%C4%B0brahim %C3%9Cz%C3%BClmez', '%C4%B0brahim %C5%9Een', '%C4%B0lhan Usmanba%C5%9F', '%C4%B0nan S%C3%BCver', ... ]

In [45]:
sf['text']=sf['text'].sort()

In [50]:
sf.head()

Columns:
	URI	str
	name	str
	text	str

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| 108 born 1978 is an italia... |
| 187 is a pseudonym for jor... |
| 1lt diane carlson evans an... |
| 1robert godley b 7 july 19... |
| 2012 gracie award winner l... |
| 250px250pxmartijn meeuwis ... |
| 8 ball aitken born 8 june ... |
| 8th agya hotogtu lobsang t... |
| a canadian foreign affairs... |
| a church historian david l... |
+-------------------------------+
[10 rows x 3 columns]

In [49]:
sf[sf['name']=="Harpdog Brown"]["text"]

dtype: str
Rows: ?
['1lt diane carlson evans anc rvn born 1946 served as a nurse in the united states army during the vietnam war and founded the vietnam womens memorial project in 1984 now the vietnam womens memorial foundation initiating and leading the effort to add the vietnam womens memorial to the vietnam veterans memorial in washington dccarlson evans was born and raised on a dairy farm in rural minnesota and graduated from nursing school in minneapolis minnesota upon graduation she joined the army nurse corps and served in vietnam at age 21 in 19681969 she served in the burn unit of the 36th evacuation hospital in vung tau and at pleiku in the 71st evacuation hospital 30 miles from the cambodian border in the central highlands just 10 to 20 minutes by helicopter from the field including her one year in vietnam carlson evans completed a total of 6 years in the army nurse corpscarlson evans attended the dedication of the vietnam veterans memorial the wall in 1982 following the dedication of the statue of three soldiers at the vietnam veterans memorial in 1984 carlson evans founded the vietnam womens memorial project to honor the service of american military women who served during the vietnam war era she worked from 1984 through 1993 to establish the vietnam womens memorial lobbying federal authorities for permission to build a memorial to the 11000 military women who served in vietnam and the 265000 who served around the world during the vietnam era carlson evans and thousands of volunteers in 50 states raised money and public support for the cause including from leading veterans organizations including the veterans of foreign wars vietnam veterans of america disabled american veterans and the american legion	it took seven years of testimony before three federal commissions and two congressional bills for evans and her supporters to earn permission for the memorial once permission was granted more than 300 artists entered a major design competition in 1990 sculptor glenna goodacre of sante fe new mexico submitted the winning design that now stands on the national mall in washington dc the bronze sculpture is 70 tall with four figures 3 women and a wounded soldier the vietnam womens memorial was dedicated before a crowd of thousands on november 11 1993 with remarks from then vice president and vietnam veteran al goresince the dedication of the vietnam womens memorial in 1993 carlson evans has remained active in the veterans community as founder and president of the vietnam womens memorial foundation she speaks nationally about the experience of women in wartime she and her husband of thirty years plus have four children and five grandchildren', ... ]

In [51]:
sf["text"] = sf["text"].sort()

In [52]:
sf

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| 108 born 1978 is an italia... |
| 187 is a pseudonym for jor... |
| 1lt diane carlson evans an... |
| 1robert godley b 7 july 19... |
| 2012 gracie award winner l... |
| 250px250pxmartijn meeuwis ... |
| 8 ball aitken born 8 june ... |
| 8th agya hotogtu lobsang t... |
| a canadian foreign affairs... |
| a church historian david l... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.